aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
amqp==5.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.6.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
autobahn==24.4.2
Automat==24.8.1
av==14.2.0
babel==2.16.0
beautifulsoup4==4.12.3
billiard==4.2.1
bleach==6.1.0
boto3==1.36.15
botocore==1.36.15
cachetools==5.5.1
celery==5.5.3
certifi==2024.8.30
cffi==1.17.1
channels==4.2.0
channels_redis==4.2.1
charset-normalizer==3.3.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.2
constantly==23.10.4
cryptography==44.0.0
daphne==4.1.2
debugpy==1.8.6
decorator==5.1.1
defusedxml==0.7.1
diffusers==0.32.2
dill==0.3.9
distlib==0.3.8
distro==1.9.0
dj-database-url==2.3.0
Django==5.1.1
django-cors-headers==4.6.0
django-heroku==0.3.1
django-restframework==0.0.1
django-sslserver==0.22
django-tailwind==3.8.0
djangorestframework==3.15.2
djangorestframework-jwt==1.11.0
djangorestframework_simplejwt==5.4.0
docker==7.1.0
easyocr==1.7.2
executing==2.1.0
Faker==30.6.0
fastapi==0.115.8
fastjsonschema==2.20.0
filelock==3.16.1
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.12.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.0
google-api-python-client==2.159.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
google-pasta==0.2.0
googleapis-common-protos==1.66.0
grpcio==1.69.0
grpcio-status==1.69.0
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.27.1
hyperlink==21.0.0
idna==3.10
imageio==2.37.0
importlib-metadata==6.11.0
incremental==24.7.2
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.28.0
ipywidgets==8.1.5
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.8.2
jmespath==1.0.1
json5==0.9.25
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kombu==5.5.4
langchain-core==0.3.31
langgraph==0.2.66
langgraph-checkpoint==2.0.10
langgraph-sdk==0.1.51
langsmith==0.3.0
lazy_loader==0.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
mock==4.0.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.17
mysql-connector-python==9.2.0
mysqlclient==2.2.4
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.3
notebook==7.2.2
notebook_shim==0.2.4
numpy==1.26.4
omegaconf==2.3.0
openai==0.28.0
opencv-python-headless==4.11.0.86
orjson==3.10.15
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pathos==0.3.3
pbr==6.1.0
pillow==11.0.0
platformdirs==4.3.6
pluggy==1.5.0
pox==0.3.5
ppft==1.7.6.9
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.2.1
proto-plus==1.25.0
protobuf==5.29.3
psutil==6.0.0
psycopg2==2.9.10
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.10.5
pydantic_core==2.27.2
Pygments==2.18.0
PyJWT==1.7.1
pyOpenSSL==24.3.0
pyparsing==3.2.1
pyTelegramBotAPI==4.27.0
pytest==8.3.4
pytest-django==4.10.0
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.0
python-json-logger==2.0.7
python-telegram-bot==22.1
pytz==2024.2
pywin32==307
pywinpty==2.0.13
PyYAML==6.0.2
pyzmq==26.2.0
redis==5.2.1
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.20.0
rsa==4.9
s3transfer==0.11.2
safetensors==0.5.2
sagemaker==2.239.0
sagemaker-core==1.0.21
schema==0.7.7
scikit-image==0.25.2
scipy==1.15.2
Send2Trash==1.8.3
service-identity==24.2.0
setuptools==75.1.0
shapely==2.0.7
six==1.16.0
smdebug-rulesconfig==1.0.1
sniffio==1.3.1
soupsieve==2.6
sqlparse==0.5.1
stack-data==0.6.3
starlette==0.45.3
stevedore==5.3.0
sympy==1.13.1
tblib==3.0.0
tenacity==9.0.0
terminado==0.18.1
tifffile==2025.2.18
tinycss2==1.3.0
tokenizers==0.21.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.48.1
Twisted==24.11.0
txaio==23.1.1
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2025.2
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.3
uvicorn==0.34.0
vine==5.1.0
virtualenv==20.26.6
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.0
virtualenvwrapper-win==1.2.7
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
whitenoise==6.8.2
widgetsnbextension==4.0.13
yarl==1.18.3
yt-dlp==2024.12.6
zipp==3.21.0
zope.interface==7.2
zstandard==0.23.0
